@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inet';
  src: url('/fonts/INET.ttf');
}

@font-face {
  font-family: 'Lan';
  src: url('/fonts/LAN.ttf');
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: 6px;
}

*::-webkit-scrollbar {
  @apply block size-[6px] bg-slate-50;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-md bg-slate-300;
}

body {
  @apply font-lan;
}
